<ion-view view-title="Contacts">
  <ion-content>
    <ion-list>
      <ion-item ng-if="friends.length === 0">You Have not added an friends, click "Add" to set one up</ion-item>
      <ion-item ng-repeat="friend in friends track by $index" ng-click="showFriend($index)">{{friend.name}}</ion-item>
    </ion-list>
    <div class="item" style="vertical-align: middle; text-align: center">
      <button class="button button-balanced" ng-click="addFriend()"><span><i class="ion-plus-circled"></i> Add Friend</span></button>
    </div>
  </ion-content>
</ion-view>
